<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar empleado</title>
</head>
<body>
    {% extends 'baseline.html' %}
    {% load static %}
    {% block contenido_variable_hijos %}
    <h1>Hotel coding house</h1></a>
    <br>
        <form action="vista_formulario_empleado" method="POST">{% csrf_token %}
            <table>
                {{formulario.as_table}}
                <input type="submit" value="Enviar">
            </table>
        </form>
    {% endblock %}
</body>
</html>