<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos</tittle>
</head>
<body>
    {% extends 'baseline.html' %}
    {% load static %}
    {% block contenido_variable_hijos %}
    <h1>Hotel coding house</h1></a>
    <br>
    <a class="navbar-brand" href="vista_formulario_habitacion"><h1>Registrar habitación de cliente</h1></a>
    {% endblock %}
</body>
</html>