<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de la Búsqueda:</title>
</head>
<body>
    {% extends 'baseline.html' %}
    {% load static %}
    {% block contenido_variable_hijos %}
    <h1>Hotel coding house</h1></a>
    <br>
    <h2>Resultados de búsqueda:</h2>
    <ul>
    {% for i in empleados %}
        <li>{{ i.empleado_nombre }}</li>
        <li>{{ i.cempleado_apellido }}</li>
        <li>{{ i.empleado_mail }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron resultados.</p>
{% endif %}
    {% endblock %}
</body>
</html>